:root {
  --primary-color: lightgoldenrodyellow;
  --secondary-color: gold;
  --tertiary-color: #8080804d;
  --quaternary-color: linear-gradient(
    90deg,
    black 0%,
    gray 35%,
    rgb(51, 49, 49) 100%
  );
  --heading-font: 'Roboto Slab', serif-sans;
  --paragraph-font: 'Noto Sans', serif-sans;
}

.section {
  flex: 1;
}

.section-content {
  padding: 20px;
}

  h2 {
    /*color: lightgoldenrodyellow;*/
    text-align: center;
    max-width: 100%; /* Alterado para evitar que o texto ultrapasse a largura da janela */
    font-size: 7rem;
    white-space: nowrap;
    display: block; /* Adicionado para que o <h2> fique em uma linha abaixo da imagem */
    margin: 0 auto;
    color: #063633;
  }

  h3 {
    /*color: lightgoldenrodyellow;*/
    text-align: center;
    max-width: 100%; /* Alterado para evitar que o texto ultrapasse a largura da janela */
    font-size: 3rem;
    white-space: nowrap;
    display: block; /* Adicionado para que o <h2> fique em uma linha abaixo da imagem */
    margin: 0 auto;
    color: #063633;
  }

p {
    /*color: silver;*/
    text-align: center;
    width: 100%; /* Alterado para evitar que o texto ultrapasse a largura da janela */
    font-size: 2rem;
    margin: 0 auto;
   
    color: #063633;
}

#section3 .image-and-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

#section3 .left-text,
#section3 .right-text {
  flex: 1;
  padding: 20px;
  text-align: center;
}

#section3 .right-text {
  font-size: 28px; /* Ajuste o tamanho da fonte conforme necessário */
}

img{
    display: block;
}
  nav{
  text-align : right;
  }
  .navigation {
  display : flex;
  list-style : none;
  }
  .navigation li {
  flex : 1 1 100%;
  }
  .navigation a {
  display : block;
  color : #CAD593;
  padding : 30px;
  text-decoration : none;
  }
  .navigation a:hover {
  color : #A1C349;
  font-weight : 800;
  text-decoration : underline;
  }

  body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 20px; /* Margens laterais */
    max-width: calc(100% - 40px); /* Leva em consideração as margens laterais */
    /*overflow: hidden; /* Impede a barra de rolagem horizontal */
}

.image-gallery {
  display: flex;
  justify-content: space-between;
}

.image-container {
  text-align: center;
}

.image-container img {
  max-width: 100%; /* Ajuste o tamanho conforme necessário */
  height: auto;
}

.caption {
  margin-top: 10px;
}


footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    text-align: center;
    }

    .menu {

      color: lightgoldenrodyellow;
      padding: 10px 0;
      border: none; /* Remove a borda */
      display: flex; /* Para alinhar o conteúdo à direita */
      justify-content: flex-end; /* Alinha o conteúdo à direita */
      align-items: center; /* Centraliza verticalmente */
      margin-bottom: 20px; /* Espaço abaixo do menu */
  }
  
  .menu ul {
      list-style: none;
      padding: 0;
      display: flex; /* Torna as li's em um flex container */
  }
  
  .menu li {
      margin-right: 50px; /* Espaçamento entre as opções do menu */
  }
  
  .menu a {
      text-decoration: none;
      color: #063633;
      font-size: 25px; /* Tamanho da fonte aumentado */
      font-weight: bold;
      transition: color 0.3s;
  }
  
  .menu a:hover {
      color: rgb(200, 170, 0);
  }

  .menu .logo {
    width: 150px;
    margin-right: 20px;
}
  
.content {
  padding: 20px;
  margin-top: 20px; /* Espaçamento entre o menu e o conteúdo */
  margin-bottom: auto; /* Alinha o conteúdo ao fundo */
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 10px;
  color: #063633;
  text-decoration: none;
  font-size: 20px;
}

.dropdown-content a:hover {
  color: rgb(200, 170, 0);
}
